/* Ajustar tamanho das imagens */
img {
    max-width: 10%;
    max-height: 80px; /* Ajuste a altura máxima conforme necessário */
    height: auto;
}

/* Estilizar botões */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Custom CSS para CKEditor */
.ck-editor__editable {
    max-width: 100%;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}

/* Definir fundo cinza para todas as páginas */
body {
    background-color: #b8b8b8; /* Ajuste a cor conforme necessário */
}
